<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataMigrationTool.Properties.Settings.DBMigrateConnectionString"
            connectionString="Data Source=DESKTOP-VKK04AO\NAVDEMO;Initial Catalog=&quot;Demo Database NAV (11-0)&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>